* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */

nav {
    height: 70px;
    background-color: #222;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
}

nav h2 {
    font-size: 25px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    color: #00bcd4;
}

/* Hero */

.hero {
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #00bcd4;
    color: white;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;

    background-color: white;
    color: #00a0b5;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #222;
    color: white;
}

/* Cards */

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;

    padding: 50px;
}

.card {
    width: 280px;

    background-color: white;
    padding: 30px;

    text-align: center;

    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 15px;
    color: #00a0b5;
}

.card p {
    line-height: 1.6;
}